<aside>
    <address>
        <ul>
            {% if basics.location %}
            <li class="address">
                {{ basics.location.address }}<br>
                {{ basics.location.countryCode }}-{{ basics.location.postalCode }} {{ basics.location.city }}
            </li>
            {% endif %}

            {% if basics.email %}
            <li>{{ i18n.aside.email }}: <a href="mailto:{{ basics.email }}">{{ basics.email }}</a></li>
            {% endif %}

            {% if basics.phone %}
            <li>{{ i18n.aside.phone }}: {{ basics.phone }}</li>
            {% endif %}

            {% for profile in basics.profiles %}
            {% if (profile.network|lower != "LinkedIn"|lower and profile.network|lower != "XING"|lower) %}
            <li>{{ profile.network }}: <a href="{{ profile.url }}">@{{ profile.username }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </address>
</aside>