{%
  set i18n = {
	  "title": "Résumé",
    "today": "dnes",
    "aside": {
      "email": "E-Mail",
      "phone": "Tel."
    },
    "certificates": {
      "title": "Certifikace",
      "date": "datum",
      "certificate": "certifikát"
    },
    "education": {
      "title": "Vzdělání",
      "range": "časové rozmezí",
      "description": "popis"
    },
    "languages": {
      "title": "Jazyky",
      "language": "jazyk",
      "level": "úroveň"
    },
    "skills": {
      "title": "Dovednosti",
      "category": "kategorie",
      "skill_list": "dovednosti"
    },
    "work": {
      "title": "Pracovní zkušenosti",
      "range": "časové rozmezí",
      "description": "popis"
    }
	}
%}