{%
  set i18n = {
	  "title": "Lebenslauf",
    "today": "heute",
    "aside": {
      "email": "E-Mail",
      "phone": "Tel."
    },
    "certificates": {
      "title": "Zertifikate",
      "date": "Datum",
      "certificate": "Zertifikat"
    },
    "education": {
      "title": "Ausbildung",
      "range": "Zeitraum",
      "description": "Beschreibung"
    },
    "languages": {
      "title": "Sprachkenntnisse",
      "language": "Sprache",
      "level": "Sprachniveau"
    },
    "skills": {
      "title": "Skills",
      "category": "Skill-Kategorie",
      "skill_list": "Skills"
    },
    "work": {
      "title": "Beruflicher Werdegang",
      "range": "Zeitraum",
      "description": "Beschreibung"
    }
	}
%}