{%
  set i18n = {
	  "title": "Résumé",
    "today": "today",
    "aside": {
      "email": "E-Mail",
      "phone": "Tel."
    },
    "certificates": {
      "title": "Certifications",
      "date": "date",
      "certificate": "certificate"
    },
    "education": {
      "title": "Education",
      "range": "range",
      "description": "description"
    },
    "languages": {
      "title": "Languages",
      "language": "language",
      "level": "level"
    },
    "skills": {
      "title": "Skills",
      "category": "category",
      "skill_list": "skills"
    },
    "work": {
      "title": "Work Experience",
      "range": "range",
      "description": "description"
    }
	}
%}